# Environments
.env
venv/
__pycache__/
*.py[cod]
scheduler.db
.vscode/
.DS_Store
*.xlsx
*.pdf
credentials.json
token.json
docs/
data/

# Dummy Data
backend/generate_temp_preferences.py
spring_2027_preferences.json